@model IEnumerable<DACS.Models.DacSan>

@{
    ViewData["Title"] = "Đặc Sản";

}

<h1>QUẢN LÝ ĐẶC SẢN</h1>


<a class="btn btn-primary" asp-action="Create">Thêm đặc sản mới</a>

<table class="table">
    <thead>
        <tr>
            <th>Mã Đặc Sản</th>
            <th>
                Tên đặc sản
            </th>
            <th>
                Mô tả đặc sản
            </th>
            <th>
                Ảnh 1
            </th>
            <th>
                Ảnh 2
            </th>
            <th>
                Ảnh 3
            </th>
            <th>
                Giá 
            </th>
            <th>
                Kho
            </th>
            <th>
                Xuất xứ
            </th>
            <th>
                Mã loại
            </th>
            <th>
                Chức năng
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.MaDacSan)
            </td>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.TenDacSan)
            </td>
            <td width="15%">
                @Html.DisplayFor(modelItem => item.MoTaDacSan)
            </td>
            <td width="10%">
                <img src="@Html.DisplayFor(modelItem => item.Anh1)" style="width:80px; height:80px">                   
            </td>
            <td width="10%">
                <img src="@Html.DisplayFor(modelItem => item.Anh2)" style="width:80px; height:80px">
            </td>
            <td width="10%">
                <img src="@Html.DisplayFor(modelItem => item.Anh3)" style="width:80px; height:80px">              
            </td>
            <td width="5%">
                @Html.DisplayFor(modelItem => item.Gia)
            </td>
            <td width="5%">
                @Html.DisplayFor(modelItem => item.Kho)
            </td>
            <td width="10%">
                @Html.DisplayFor(modelItem => item.QueHuong)
            </td>
            <td width="5%">
                @Html.DisplayFor(modelItem => item.MaLoai)
            </td>
            <td width="20%">
                <a asp-action="Edit" asp-route-id="@item.MaDacSan">Chỉnh sửa</a> 
                <a asp-action="Details" asp-route-id="@item.MaDacSan">Chi tiết</a> 
                <a asp-action="Delete" asp-route-id="@item.MaDacSan">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
